## Defaults
## -----------------------------------------------------------------------------
* text=auto eol=lf

## Web
## -----------------------------------------------------------------------------
*.css   text diff=css
*.htm   text diff=html
*.html  text diff=html
*.js    text
*.xhtml text diff=html

## Documentation
## -----------------------------------------------------------------------------
*.md  text
*.rst text
*.txt text

## Images
## -----------------------------------------------------------------------------
*.ico binary
*.png binary
*.svg text diff=xml
